.header_container{
    position: absolute;
    margin-top: 0.4vh;
    z-index: 1;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
    box-shadow: 0 0.25vh 1.5vh rgba(0, 0, 0, 0.5);
    height: 8vh;
    width: 100vw;
    border: 0 transparent;
    border-radius: 15px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 60vw;
    max-height: 6vh;
    min-width: 30vw;
    min-height: 4vh;
    background-color: transparent;
}

.logo>a>img{
    max-width: 11vw;
    max-height: 8vh;
    min-width: 5.5vw;
    min-height: 4vh;
}

.functionalBlock{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: .5vh 1vw .5vh 1vw;
    height: 7vh;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid black 1px;*/
    border-radius: 15px 0 0 15px ;
    height: 5.5vh;
    padding:0 0.5vw 0 0.5vw;
    background-color: #ebffeb;
}

.profileInfo>p:nth-child(1){
    background-color: #b6fdb6;
    border-radius: 15px;
    padding: .5vh;
    margin-bottom: .3vh;
    font-size: .85rem;
}
.profileInfo>p:nth-child(2){
    font-size: .85rem;
}


/*.profileInfo:hover{*/
/*    background-color: #ebffeb;*/
/*    box-shadow: 0 0.25vh 1.5vh rgba(0, 0, 0, 0.2);*/
/*}*/

.menu{
    height: 5.5vh;
    display: flex;
    align-items: center;
    /*border: solid black 1px;*/
    padding:0 0.5vw 0 0.5vw;
    border-radius: 0 15px 15px 0;
    background-color: #ebffeb;

}

.menu:hover{
    background-color: #ebffeb;
    box-shadow: 0 0.25vh 1.5vh rgba(0, 0, 0, 0.2);
}

.menu>a{
    text-decoration: none;
}