.info_block_article_list{
    max-width: 20vw;
    min-width: 10vw;
    height: 65vh;
    padding: 1vh;
    background-color: rgba(210, 210, 210, 0.9);
    box-shadow: 0 0.25vh 2.5vh rgba(0, 0, 0, 0.75);
    border: 0 transparent;
    border-radius: 30px;
}

.info_block_article_list ul li{
    list-style: none;
    margin: 2vh 0;
}

.info_block_article_list ul li:hover,
.info_block_article_list ul li:focus{
    color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 0 0.5vh rgba(0, 198, 46, 0.6);
    cursor: pointer;
}