.constructor_container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/img/background2.svg);
    background-size: cover;
    position: relative;
}

.constructor_elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 75vw;
    margin: 0 2vw 0 0;
    background-color: rgba(235, 235, 235, 0.95);
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.75);
    border: 0 transparent;
    border-radius: 5px;
}

.constructor_field{
    background-image:
            linear-gradient(#50aa5f 1px, transparent 1px),
            linear-gradient(90deg, #50aa5f 1px, transparent 1px),
            linear-gradient(white 1px, transparent 1px),
            linear-gradient(90deg, white 1px, transparent 1px);
    background-size:
            20px 20px,
            20px 20px,
            20px 20px,
            20px 20px;
    background-position:
            0 0,
            0 0,
            -1px -1px,
            -1px -1px;

    border: 2px solid rgba(63, 63, 63, 0.9);
    border-radius: 5px;

    width: 73vw;
    height: 70vh;
    margin: 1vh 0 0 0;
    position: relative;
}

.constructor_remote_elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 73vw;
    height: 7vh;
    margin: 0 0 1vh 0;
}

.constructor_remote_elements a{
    text-decoration: none;
}

.element_on_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 6vw;
    max-width: 6vw;
    height: 7vh;

    border: 0.5px solid #50aa5f;
    background-color: #e7ffeaef;
    border-radius: 15px;
    position: absolute;
}

.element_on_field>img{
    max-width: 6vw;
    max-height: 6vh;
}

.element_on_field:hover,
.element_on_field:focus{
    border: 0.5px solid #3a7a45;
    background-color: #a1faacef;
    border-radius: 15px;
}