.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    padding-top: 5vh;
    background-image: url(../../assets/img/background1.jpg);
}

.colorStyle{
    background-color: yellow;
}