.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url(../../../../assets/img/background2.svg);
    background-size: cover;
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 12vh;
    width: 70vw;
    margin-top: 10vh;
    background-color: rgba(246,246,246,0.95);
    box-shadow: 0 0.25vh 0.5vh rgba(250, 250, 250, 0.75);
    border: 0 transparent;
    border-radius: 25px;
    text-align: center;
}

.title>p{
    font-size: 1.3rem;
    margin-top: 1vh;
    line-height: 24px;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 50vw;
    height: 40vh;
    margin-top: 15vh;
}

.grid_elem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 10vh;
    background-color: #F6F6F6;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.75);
    border: 0 transparent;
    border-radius: 5px;
    margin: 0 2vw;
}

.grid_elem>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    border: 0 transparent;
    border-radius: 5px;
    transition: ease-in 0.3s;
}

.grid_elem>a:hover{
    background-color: #99ff99;
    box-shadow: 0.65vh 0.45vh 0.55vh rgba(250, 250, 250, 0.75);
}

.grid_elem>a:visited{
    text-decoration: none;
    color: black;
}

/*Point*/
.pointSelectionGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 50vw;
    height: 40vh;
}

.pointSelectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 70vw;
    height: 40vh;
    margin-top: 15vh;
}

.pointSelectionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseTypes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F6F6F6;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.75);
    width: 20vw;
    border-radius: 5px;
}

.chooseTypes>div{
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.historyBackButton{
    position: absolute;
    top: 12.5vh;
    right: 87.5vw;
    width: 10vw;
    wrap-option: wrap;
    letter-spacing: 1px;
    font-size: .9em;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #000;
    background-color: #FFFFFF;
    outline: none;
    cursor: pointer;
    transition: 1s;
    padding: 1vh;
    box-shadow: 0 0.25vh 0.5vh black;
}

.historyBackButton:hover{
    background-color: #99ff99;
    transform: scale(1.1);
}

.chooseTypes button{
    margin: 3vh 0 1vh .22vw;
}

.chooseTypes p{
    margin: .5vw;
    padding: .25vw;
    background-color: #e2ffe2;
    border-radius: 5px;
}

.grid_types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vh;
    background-color: #F6F6F6;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.75);
    border: 0 transparent;
    border-radius: 5px;
    margin: 0 1vw;
}

.grid_types>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.4rem;
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    border: 0 transparent;
    border-radius: 5px;
    transition: ease-in 0.3s;
    flex-wrap: wrap;
}

.grid_types>a:hover{
    background-color: #99ff99;
    box-shadow: 0.65vh 0.45vh 0.55vh rgba(250, 250, 250, 0.75);
}

.grid_types>a:visited{
    text-decoration: none;
    color: black;
}